#Day 1
 **Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.**

In [ ]:
result=[]
for i in range(2000,3201):
  if(i%7==0 and not(i%5==0)):
    result.append(str(i))
print(result)
print(",".join(result))

# Day 2 
**Write a program which can compute the factorial of a given numbers.
The results should be printed in a single line.**

-----------
```
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320
```

In [ ]:
#using loop
value=int(input("Enter the value : "))
result=1
for i in range(1,8+1):
  result*=i

print(result)

In [ ]:
#using Function
def siddharfact(value):
  if value==0:
    return 1
  return value*siddharfact(value-1)
print(siddharfact(8))

#Day 3 

**With a given integer number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.**


```
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
```

In [ ]:
n=int(input("number : "))
d={}
i=1
while(i<n+1):
  d[i]=i*i
  i+=1
print(d)

# Day 4
**Define a class which has at least two methods:**
* **getString: to get a string from console input**
* **printString: to print the string in upper case.**

**Also please include simple test function to test the class methods.**
```
Hints:
Use __init__ method to construct some parameters
```

In [ ]:
class siddhar():
  def __init__(self):
    print("init")
    self.name=""
  def getString(self):
    self.name=input("Enter the name : ")
  def printString(self):
    print(self.name.upper())
ob=siddhar()
ob.getString()
ob.printString()

#Day 5
**Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
S**

---

```
suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world 
```

In [ ]:
s=input("Enter the string : ")
l=list(s.split(" "))
l=set(l)
l=list(l)
l=sorted(l)
print(" ".join(l))

#Day 6
**Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence**

---

```
Example:
0100,0011,1010,1001
Then the output should be:
1010
```

In [ ]:
l=list(map(str,input("Enter the value : ").split(",")))
temp=[]
for i in l:
  if(int(i,2)%5==0):
    temp.append(i)
print(",".join(temp))

#Day 7

**Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line**

In [ ]:
l=[]
for i in range(1000,3001):

  temp=str(i)
  if(int(temp[0])%2==0 and int(temp[1])%2==0 and int(temp[2])%2==0 and int(temp[3])%2==0):
    l.append(temp)
print(",".join(l))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

#Day 8
**Write a program that accepts a sentence and calculate the number of letters and digits.**



```
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3
```

In [ ]:
s=input("enter the value : ")
s=list(s)
digit=0
letter=0
for i in range(len(s)):
  if s[i].isdigit():
    digit+=1
  elif(s[i].isalpha()):
    letter+=1
print("LETTERS",str(letter))
print("DIGITS",str(digit))

#Day 9
**Use a list comprehension to store each odd number in a list. The list is input by a sequence of comma-separated numbers.**



---




```
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9
```

In [ ]:
s=input("Values : ")
l=[i for i in s.split(",") if int(i)%2!=0]
print(",".join(l))

#Day 10
**Write a program that computes the net amount of a bank account based a transaction log from console input.**


---





```
The transaction log format is shown as following:
D 100
W 200
D means deposit while W means withdrawal.**
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500
```

In [ ]:
balance=0
while True:
  s=input("Enter the value : ")
  if s=="":
    break
  ttype,amount=s.split(" ")
  if(ttype=="D"):
    balance+=int(amount)
  else:
    balance-=int(amount)
print(balance)

#Day 11
**A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:**
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.


```
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1
```

In [ ]:
import re
value=[]
s=input("Enter the value : ")
l=s.split(",")
for i in l:
  if len(i)<6 or len(i)>12:
    continue
  else:
    pass
  
  if not re.search("[a-z]",i):
    continue
  elif not re.search("[0-9]",i):
    continue
  elif not re.search("[A-Z]",i):
    continue
  elif not re.search("[@#$]",i):
    continue
  else:
    pass
  value.append(i)

print(",".join(value))

Enter the value : ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

#Day 12
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.


```

The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
```




```
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2
```

![alt text](https://www.wikihow.com/images/thumb/6/63/Find-the-Distance-Between-Two-Points-Step-6.jpg/aid2897060-v4-728px-Find-the-Distance-Between-Two-Points-Step-6.jpg.webp)

In [ ]:
import math
pos = [0,0]
while True:
    s = input("Enter the value : ")
    if s=="":
        break
    mov,val = s.split(" ")
    if mov=="UP":
        pos[0]+=int(val)
    elif mov=="DOWN":
        pos[0]-=int(val)
    elif mov=="LEFT":
        pos[1]-=int(val)
    elif mov=="RIGHT":
        pos[1]+=int(val)
    else:
        pass

print(round(math.sqrt(pos[1]**2+pos[0]**2)))

#Day 13
**Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10]**

In [ ]:
l=list(map(int,input("Enter the value : ").split(",")))

l=list(map(lambda x:x*2,l))
print(l)

Enter the value : 1,2,3,4,5,6,7,8,9,10
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#Day 14

**Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].**

In [ ]:
l=list(map(int,input("Enter the value : ").split(",")))

l=list(map(lambda x:x**2,filter(lambda x:x%2==0,l )))
print(l)

Enter the value : 1,2,3,4,5,6,7,8,9,10
[4, 16, 36, 64, 100]

#Day 15

**Write a function to compute 5/0 and use try/except to catch the exceptions**

In [ ]:
a=5
b=0
try:
  print(a/b)
except TypeError:
  print("string include")
except ZeroDivisionError:
  print("Zero is included")

#Day 16

**Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.**


```
Example:
If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john
```

In [ ]:
s=input("Enter the Email : ")
a,b=s.split("@")
print(a)

Enter the Email : john@google.com
john

#Day 17

```
The Fibonacci Sequence is computed based on the following formula:


f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

Example:
If the following n is given as input to the program:

7

Then, the output of the program should be:

13
```

In [ ]:
def fun(n):
  if n==1:
    return 0
  elif n==2:
    return 1
  else:
    n1=0
    n2=1
    i=2
    while(i<n+1):
      temp=n2
      n2=n1+n2
      n1=temp
      i+=1
    return n2

n=int(input())
print(fun(n))
0,1,1,2,3,5,8,13

#Day 18
**Given a number z, determine whether the given number is Armstrong number or not**



```
Input : 153
Output : 153 is an Armstrong number.

Explanation
1*1*1 + 5*5*5 + 3*3*3 = 153
```

In [ ]:
s=input()
l=list(map(int,s))
res=0
for i in l:
  res+=i*i*i

if(str(res)==s):
  print("Armstrong number")
else:
  print("Not a Armstrong number")

153
Armstrong number

#Day 19
**Find the length of array**



```
Input : 1,2,3,4
Output : 4


```

In [ ]:
l=list(map(int,input().split(",")))

count=0
for i in l:
  count+=1


print(len(l))
print(count)

#Day 20
**Python program to find second largest number in a list**


```
Input : 10,5,20,2,3
Output : 10
```

In [ ]:
l=list(map(int,input().split(",")))
l.sort()
#print(l[-2])
print(l[len(l)-2])

#Day 21

```
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods
```

In [ ]:
class techsiddhar():
  def __init__(self):
    self.s=""
  def getString(self):
    self.s=input()
  def printString(self):
    print("Welcome " + self.s+ "!")

ts=techsiddhar()
ts.getString()
ts.printString()

#Day 22



```
Count the Number of matching characters in a pair of string
Given a pair of non empty strings. Count the number of matching characters in those strings (consider the single count for the character which have duplicates in the strings)


Input : str1 = 'abcbc'
        str2 = 'cda'
Output : 2 
(i.e. matching characters :- a,c)
```

In [ ]:
str1=input()
str2=input()

str1=set(str1)
str2=set(str2)
count=0
for i in str1:
  if i in str2:
    count+=1

print(count)

#Day 23

**Find length of a string in python**

In [ ]:
s=input("Enter the string")

print("using len : "+str(len(s)))

s=list(s)
count=0
for i in s:
  count+=1

print("using for loop : "+ str(count))

#Day 24

**Remove Duplicates Function Without using set()**

In [ ]:
def removeduplicates(n):
  new=[]
  for i in n:
    if i not in new:
      new.append(i)

  return new


a=[1,2,3,2,1,3,122,2,8,65,4,6,7]

print("Using set function : "+str(set(a)))

print("using funcion : "+str(removeduplicates(a)))

#Day 25

**Find Whether a given number is Positive or Negative**

In [ ]:
#num=int(input("Enter the number : "))

#if(num<0):
#  print("Negative number")

#else:
#  print("Positive number")


num=input("Enter the number : ")
num=list(num)

if '-' in num:
  print("Negative number")

else:
  print("Positive number")

#Day 26
**Find sum of Digits of a Number**



```
input : 120
output : 3
```

In [ ]:
num=input("Enter the value : ")

l=[]
for i in num:
#  sum+=int(i)
  l.append(int(i))
print(sum(l))

#Day 27

**Find the reverse of given integer**

In [ ]:
a=1230

num=a
reverse=0
while num>0:
  re=num%10
  reverse=(reverse*10)+re
  num=num//10

print(reverse)

#Day 28

**Find number is strong number or not!**



```
Input : 145
Output : Strong Number

Explanation:
1!+4!+5!=145
```

In [ ]:
def fact(n):
  res=1
  for i in range(1,n+1):
    res*=i
  return res



n=input("Enter the number : ")
l=list(n)
total=0
for i in l:
  total+=fact(int(i))

print(total)

if(n==str(total)):
  print("Strong number")
else:
  print("not a Strong number")

#Day 29
**Count the number of vowels in a string**



```
Input : Techsiddhar
Output : 3 
```

In [ ]:
s=input("Enter the string : ")
s=s.lower()
count=0
vowel=['a','e','i','o','u']
for i in s:
  if i  in vowel:
    count+=1
print(count)

#Day 30

**Check if two string are Anagram or Not**



```
Input : listen
        silent

output : Anagram String
```

In [ ]:
a=input("Enter the string1 : ")
b=input("Enter the string2 : ")
if(sorted(a)==sorted(b)):
  print("Anagram string")
else:
  print("Not Anagram string")

print(sorted(a))
print(sorted(b))

#Day 31
**How many letter remove to make a string Anagram**



```
Input : sky
        fly
      
Output : 4
```

In [ ]:
def makeangram(s1,s2):
  res=0
  j=s1+s2
  un=set(j)
  for i in un:
    if(s1.count(i)==s2.count(i)):
      continue
    elif(s1.count(i)>s2.count(i)):
      res+=s1.count(i)-s2.count(i)
    elif(s1.count(i)<s2.count(i)):
      res+=s2.count(i)>s1.count(i)

  return res

s1=input()
s2=input()
print(makeangram(s1,s2))

#Day 32
**Python program to swap two elements in a list**



```
Input : Enter the list = 13, 35, 22, 10
        pos1 = 1
        pos2 = 3

Output : [22, 35, 13, 10]
```

In [ ]:
l=list(map(int,input("Enter the list : ").split(",")))
pos1=int(input("Enter pos1 : "))
pos2=int(input("Enter the pos2 : "))

l[pos1-1],l[pos2-1]=l[pos2-1],l[pos1-1]

#temp=l[pos1-1]
#l[pos1-1]=l[pos2-1]
#l[pos2-1]=temp

print(l)

#Day 33

**Common Divisors of Two Numbers**



```
Input : a = 10
        b = 30

Output: 4

Explain : common divisor are 1,2,5,10
```

In [ ]:
a=int(input("Enter the a value : "))
b=int(input("Enter the b value : "))
count=0

for i in range(1,min(a,b)+1):
  if(a%i==0 and b%i==0):
    count+=1

print(count)

#Day 34
**Difference between sums of odd and even digits**


```
Input : 1212112
Output : Yes
Explanation:-
the odd position element is 2+2+1=5
the even position element is 1+1+1+2=5
the difference is 5-5=0.so print yes.

Input :12345
Output : No
Explanation:-
the odd position element is 1+3+5=9
the even position element is 2+4=6
the difference is 9-6=3 not  equal
to zero. So print no.

```

In [ ]:
n=input("Enter the number : ")
odd=0
even=0
for i in range(len(n)):
  if(i%2==0):
    even+=int(n[i])
  else:
    odd+=int(n[i])

if((odd-even)==0):
  print("yes")
else:
  print("no")

#Day 35
**Average of Cubes of first N natural numbers**


```
Input: N = 2
Output: 4.5
Explanation:
For integer N = 2,
We hvae ( 13 + 23 ) = 1 + 8 = 9
average = 9 / 2 that is 4.5
```

In [ ]:
n=int(input("Enter the number : "))
cube=0
for i in range(1,n+1):
  cube+=i**3

print(cube/n)

#Day 36

**Program for GCD of two numbers**



```
Input  : 2,4

Output : 2
```

In [ ]:
a,b=map(int,input().split(","))

while(b):
  a,b=b,a%b
print(a)

#Day 37
**Check if binary representation is palindrome**


```
Input : n = 9
Output : True
Binary representation of n=9 is 1001 which 
is palindrome as well.
```

In [ ]:
n=int(input("Enter the number : "))

b=bin(n)
b=b[2:]
#101

if(b==b[::-1]):
  print("True")
else:
  print("False")

#Day 38

**Find pair with given sum in an array**



```
Given an unsorted array of integers, find a pair with given sum in it.
Input:arr = [8, 7, 2, 5, 3, 1]
      sum = 10
Output:
Pair found at index 0 and 2 (8 + 2)
  or
Pair found at index 1 and 4 (7 + 3)
```

In [ ]:
arr=list(map(int,input("Enter the arrya : ").split(",")))
s=int(input("Enter the sum : "))

#o(n*n)
#for i in range(0,len(arr)): 
#  for j in range(i+1,len(arr)):
#    if(arr[i]+arr[j]==sum):
#      print("Pair found at index ",i," and ",j," (",arr[i]," +",arr[j],")")

#enumerate o(n)

for i,v in enumerate(arr):
  if (sum-v) in arr:
    print("Pair found at index ",i," and ",arr.index(sum-v)," (",v," + ",sum-v,")")

#Day 39

**Move all zeros present in an array to the end**



```

Input:  { 5, 0, 8, 2, 3, 0, 4, 0, 1 }

Output: { 5, 8, 2, 3, 4, 1, 0, 0, 0 }
```

In [ ]:
a=list(map(int,input("enter the number : ").split(",")))
k=0
for i in a:
  if i :
    a[k]=i
    k+=1
for i in range(k,len(a)):
  a[i]=0
print(a)

#Day 40

**Shuffle a given array of elements**



```
Input:  [1, 2, 3, 4, 5, 6]

Output: [6, 2, 3, 1, 4, 5]
```

In [ ]:
from random import randrange
a=list(map(int,input("enter the number : ").split(",")))
for i in range(len(a)):
  j=randrange(i,len(a))
  a[i],a[j]=a[j],a[i]

print(a)

#Day 41
**find mirror characters in a string**



```
Input : N = 3
        paradox
Output : paizwlc

We mirror characters from position 3 to end
```

In [ ]:
n=int(input("Enter the number : "))
s=input("Enter the string : ")

a="abcdefghijklmnopqrstuvwxyz"
b=reversed(a)
d=dict(zip(a,b))

before=s[:n-1]
after=s[n-1:]
mirror=""
for i in range(0,len(after)):
  mirror+=d[after[i]]
print(before+mirror)

#Day 42
**Convert list to Python array**

In [ ]:
from array import array
a=[1,2,3,4]
a=array('i',a)
print(a)

#Day 43

**Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.**

In [ ]:
class Rectangle():
  def __init__(self,length,width):
    self.length=length
    self.width=width
  def area(self):
    return self.length*self.width

obj=Rectangle(2,3)
obj1=Rectangle(10,2)
print(obj.area())

print(obj1.area())

#Day 44

**Find a Maximum Sum Subarray (Kadane's Algorithm)**




```
Input : -2, -3, 4, -1, -2, 1, 5, -3

Output : 7
```

In [ ]:
a=list(map(int,input("enter the number : ").split(",")))

def kadane(a):
  maxnumber=0
  heremax=0
  for i in a:
    heremax+=i
    heremax=max(0,heremax)
    maxnumber=max(heremax,maxnumber)
  return maxnumber

print(kadane(a))

#Day 45

**Check if an Array is Formed Consecutive Integers**




```
Input : {-1,5,4,2,1,3,0}

Output : Array contains Consecutive Integers
```

In [ ]:
a=list(map(int,input("enter the number : ").split(",")))

def cons(a):
  ma=max(a)
  mi=min(a)

  if ma-mi !=len(a)-1:
    return False
  visit=[]
  for i in a:
    if i in visit:
      return False
    visit.append(i)
  return True

if (cons(a)):
  print("Array contains Consecutive Integers")
else:
  print("No Array contains Consecutive Integers")

enter the number : -1,5,4,2,1,3,0,7
No Array contains Consecutive Integers

#Day 46
**In-place merge two sorted arrays**

Given two sorted arrays X[] and Y[] of size m and n each, merge elements of X[]  with elements of array Y[]  by maintaining the sorted order. i.e. fill X[]  with first m smallest elements and fill Y[]  with remaining elements.



```
Input:
X[] = { 1, 4, 7, 8, 10 }
Y[] = { 2, 3, 9 }

Output: 
X[] = { 1, 2, 3, 4, 7 }
Y[] = { 8, 9, 10 }
```

In [ ]:
x=list(map(int,input("enter the number : ").split(",")))
y=list(map(int,input("enter the number : ").split(",")))

temp=x+y
temp=sorted(temp)

x=temp[:len(x)]
y=temp[len(x):]
print(x)
print(y)

#Day 47
**Find missing term in Sequence in Logarithmic Time O(log(n))**




```
Input : [5,7,9,11,15]

Output: 13
```

In [ ]:
a=[5,7,9,11,15]



def ok(a):
  diff=a[-1]-a[0]//len(a)

  left=0
  right=len(a)-1
  while(left<right):
    mid=right-left//len(a)
    

    if(mid+1<len(a) and a[mid]-a[mid-1]!=diff):
      return a[mid+1]-diff
    if(mid-1>=0 and a[mid+1]-a[mid]!=diff):
      return a[mid]+diff
    if a[mid]-a[0]//len(a)!=diff:
      right=mid-1
    else:
      left=mid+1

print(ok(a))

#Day 48

**String slicing in Python to rotate a string**



```
Input : s = "qwertyu" 
        d = 2
Output : Left rotation : "ertyuqw"
         Right rotation : "yuqwert"
```

In [ ]:
a = "sdkjbsdkfs" 
d = 2

print("Left rotation : "+str(a[d:]+a[:d]))
print("Right rotation : "+str(a[-d:]+a[:-d]))

#Day 49

**Count dictionaries in a list in Python**


```
Input : l = [10, {‘ok’ : 1}, {‘ok1’ : 2, ‘ok2’ : 3}, 20]

Output : 2

```

In [ ]:
l=[10, {"ok" : 1}, {"ok1" : 2, "ok2" : 3}, 20,30,1]

res=[]
#for i in l:
#  if(isinstance(i,dict)):
#   res.append(i)

res=[i for i in l if isinstance(i,dict)]
print(len(res))

2

#Day 50

**Rod Cutting Problem**

Given a rod of length n and list of prices of rod of length i where 1 <= i <= n, find the optimal way to cut rod into smaller rods in order to maximize profit.




```
Input : length[] = [1, 2, 3, 4, 5, 6, 7, 8]

        price [] = [1, 5, 8, 9, 10, 17, 17, 20]

        n=4

Output : profit is 10
```

In [ ]:
def rod(price,n):
  if n==0:
    return 0
  maxval=-1
  for i in range(1,n+1):
    cost=price[i-1]+rod(price,n-i)

    if maxval<cost:
      maxval=cost
  
  return maxval


price = [1, 5, 8, 9, 10, 17, 17, 20]
n=4

print("Profit is : "+str(rod(price,n)))

#Day 51

**Sort elements by frequency**
Print the elements of an array in the decreasing frequency if 2 numbers have same frequency then print the one which came first.


```
Input:  arr = {2, 5, 2, 8, 5, 6, 8, 8}
Output: arr = {8, 8, 8, 2, 2, 5, 5, 6}
```

In [ ]:
a=[2, 5, 2, 8, 5, 6, 8, 8]

s=set(a)
count=[]
d=[]
for i in s:
  d.append(a.count(i))
  count.append([a.count(i),i])
d=set(d)

res=[]
for i in d:
  temp=[]
  for j in count:
    if(j[0]==i):
      temp.append(j)

  temp=sorted(temp)
  res.extend(temp[::-1])

final=[]
for i in res:
  final.extend(i[0]*str(i[1]))

print(final[::-1])

#8, 8, 8, 2, 2, 5, 5, 6

#Day 52

**Count Inversions in an array**


two elements a[i] and a[j] form an inversion if a[i] > a[j] and i < j



```
Input: arr = {8, 4, 2, 1}
Output: 6

Explanation: Given array has six inversions:
(8,4), (4,2),(8,2), (8,1), (4,1), (2,1)
```

In [ ]:
a=[8, 4, 2, 1]
count=0
for i in range(len(a)):
  for j in range(i+1,len(a)):
    if(a[i]>a[j]):
      #count.append([a[i],a[j]])
      count+=1
print(count)

#Day 53

**Find minimum difference between any two elements**


```
Input  : [1, 19, -4, 35, 38, 25, 120];
Output : 3

Minimum difference is between 35 and 38
 

```

In [ ]:
a=[1, 19, -4, 35, 38, 25, 120]
mi=1000
# for i in range(len(a)):
#   for j in range(i+1,len(a)):
#     if abs(a[i]-a[j])<mi:
#       mi=abs(a[i]-a[j])

for i in range(len(a)-1):
  if abs(a[i]-a[i+1])<mi:
    mi=abs(a[i]-a[i+1])

print(mi)

3

#Day 54
**Chocolate Distribution Problem**

Given an array of n integers where each value represents number of chocolates in a packet. Each packet can have variable number of chocolates. There are m students, the task is to distribute chocolate packets such that:

Each student gets one packet.

The difference between the number of chocolates in packet with maximum chocolates and packet with minimum chocolates given to the students is minimum.

```
Input : arr= {3, 4, 1, 9, 56, 7, 9, 12}
m = 5
Output: Minimum Difference is 6
The set goes like 3,4,7,9,9 and the output
is 9-3 = 6
```

In [ ]:
from itertools import combinations
arr=[3, 4, 1, 9, 56, 7, 9, 12]
m=5
x=[]
l=combinations(arr,5)
for i in l:
  i=sorted(i)
  x.append(i[-1]-i[0])
print(min(x))

#Day 55
**Sort even-placed elements in increasing and odd-placed in decreasing order**

We are given an array of n distinct numbers. The task is to sort all even-placed numbers in increasing and odd-placed numbers in decreasing order. The modified array should contain all sorted even-placed numbers followed by reverse sorted odd-placed numbers



```
Input: arr= {3, 1, 2, 4, 5, 9, 13, 14, 12}

Output: {2, 3, 5, 12, 13, 14, 9, 4, 1}

Even-place elements : 3, 2, 5, 13, 12
Odd-place elements : 1, 4, 9, 14
Even-place elements in increasing order : 
2, 3, 5, 12, 13
Odd-Place elements in decreasing order : 
14, 9, 4, 1
```

In [ ]:
a=[3, 1, 2, 4, 5, 9, 13, 14, 12]
even=[]
odd=[]
for i in range(len(a)):
  if (i%2==0):
    even.append(a[i])
  else:
    odd.append(a[i])

even=sorted(even)
odd=sorted(odd)
print(even+odd[::-1])
#2, 3, 5, 12, 13, 14, 9, 4, 1

#Day 56
**Sorting Big Integers**

Given a array of n positive integers where each integer can have digits upto 106, print the array elements in ascending order



```
Input: arr= [3643641264874311, 451234654453211101231, 4510122010112121012121]
Output: 3641264874311 451234654453211101231 4510122010112121012121
```

In [ ]:
arr=["451234654453211101231","4510122010112121012121","3643641264874311"]

arr.sort(key=lambda x:(len(x),x))
print(" ".join(arr))

#Day 57
**Find Surpasser Count of each element in array**
A surpasser of an element of an array is a greater element to its right, therefore x[j] is a surpasser of x[i] if i < j and x[i] < x[j]. The surpasser count of an element is the number of surpassers. Given an array of distinct integers, for each element of the array find its surpasser count i.e. count the number of elements to the right that are greater than that element.



```
Input:  [2, 7, 5, 3, 0, 8, 1]
Output: [4, 1, 1, 1, 2, 0, 0]
```

In [ ]:
a=[2, 7, 5, 3, 0, 8, 1]
count=[]
for i in range(len(a)):
  temp=0
  for j in range(i+1,len(a)):
    if(a[i]<a[j]):
      temp+=1
  count.append(temp)

print(count)

[4, 1, 1, 1, 2, 0, 0]

#Day 58
**Sort an array in wave form**

Given an unsorted array of integers, sort the array into a wave like array. An array ‘arr[0..n-1]’ is sorted in wave form if arr[0] >= arr[1] <= arr[2] >= arr[3] <= arr[4] >= …..



```
 Input : a = {3, 6, 5, 10, 7, 20}
 Output: a = {6, 3, 10, 5, 20, 7} OR
                 any other array that is in wave form
```

In [ ]:
a=[3, 6, 5, 10, 7, 20]
a.sort()
#a=sorted(a)

for i in range(0,len(a),2):
  temp=a[i]
  a[i]=a[i+1]
  a[i+1]=temp
  # a[i],a[i+1]=a[i+1],a[i]

print(a)

[5, 3, 7, 6, 20, 10]

#Day 59

**Sort elements on the basis of number of factors**


Given an array of positive integers. Sort the given array in decreasing order of number of factors of each element, i.e., element having the highest number of factors should be the first to be displayed and the number having least number of factors should be the last one. Two elements with equal number of factors should be in the same order as in the original array.



```
Input : {5, 11, 10, 20, 9, 16, 23}
Output : 20 16 10 9 5 11 23
Number of distinct factors:
For 20 = 6, 16 = 5, 10 = 4, 9 = 3
and for 5, 11, 23 = 2 (same number of factors
therefore sorted in increasing order of index)
```

In [ ]:
a=[5, 11, 10, 20, 9, 16, 23]
d=dict()
def factor(n):
  count=2
  for i in range(2,n):
    if(n%i==0):
      count+=1
  return count

for i in a:
  factcount=factor(i)
  if factcount in d:
    d[factcount].append(i)
  else:
    d[factcount]=[i]
print(d)

result=[]
for i in sorted(d,reverse=True):
  result.extend(sorted(d[i]))
print(result)
#20 16 10 9 5 11 23

#Day 60

**Program to check if an array is sorted or not**

Given an array of size n, write a program to check if it is sorted in ascending order or not. Equal values are allowed in array and two consecutive equal values are considered sorted.



```
Input : 20 21 45 89 89 90
Output : Yes

Input : 20 20 78 98 99 97
Output : No
```

In [ ]:
a=[20, 20 ,78 ,98, 99, 97]
# sorta=sorted(a)
# print(a)
# print(sorta)
# if sorta==a:
#   print("Yes")
# else:
#   print("No")

res="Yes"
for i in range(1,len(a)):
  if(a[i]<a[i-1]):
    res="No"
    break
print(res)

No

#Day 61
**Retain Numbers in String**

we can have a problem in which we need to perform the removal of all the characters other than integers




```
Input : test_str = "Hello1 world"
Output : 1
```

In [ ]:
s=input("Enter the String : ")
res=""
for i in s:
  if(i.isdigit()):
    res+=i
print(res)

Enter the String : Asffjasbfa124
124

#Day 62
**Group Similar Start and End character words**

we can have problem in which we need to group all the words on basis of front and end characters.



```
The original string is : Techsiddhar is best and bright for programmers
The grouped dictionary is : {'Tr': {'echsiddha'}, 'is': {''}, 'bt': {'es', 'righ'}, 'ad': {'n'}, 'fr': {'o'}, 'ps': {'rogrammer'}}
```

In [ ]:
s=list(input().split(" "))
d=dict()

for i in s:
  first=i[0]
  last=i[-1]
  key=first+last
  if key in d:
    d[key].append(i[1:-1])
  else:
    d[key]=[i[1:-1]]

print(d)

Techsiddhar is best and bright for programmers
{'Tr': ['echsiddha'], 'is': [''], 'bt': ['es', 'righ'], 'ad': ['n'], 'fr': ['o'], 'ps': ['rogrammer']}

#Day 63

**Vowel indices in String**

problem in which we need to extract indices of vowels in list



```
Input : Tech Siddhar

Output : [1,6,10]
```

In [ ]:
s=input("Enter the string :")
vowel=['a','e','i','o','u']
l=[]
for index in range(len(s)):
  if s[index].lower() in vowel:
    l.append(index)
print(l)

Enter the string :Apple
[0, 4]

#Day 64

**Create Flat Lists Out Of Lists**

To make a simple list out of a list of lists


```
Input : l= [[1,2],[3,4],[5,6]]

Output : [1, 2, 3, 4, 5, 6]
```

In [ ]:
l=[[1,2],[3,4],[5,6]]
# res=[]
# for i in l:
#   res.extend(i)

# print(res)

#sum(iterable,start)
print(sum(l,[]))

[1, 2, 3, 4, 5, 6]

#Day 65

**Size of string in memory**

we require to get the size of the string, i.e the length of it



```
Input : TechSiddhar

Output : 60

```

In [ ]:
import sys

s="TechSiddhar"

print(sys.getsizeof(s))

60

#Day 66

**Program for Check if all digits of a number divide it**

Given a number n, find whether all digits of n divide it or not



```
Input : 122
Output : Yes
122 % 1 == 0, 122 % 2 == 0, and 122 % 2 == 0.

Input : 123
Output : No
```

In [ ]:
number=input("Enter the string : ")

result="Yes"
for i in number:
  if (int(number)%int(i)==0):
    pass
  else:
    result="No"
    break
print(result)

Enter the string : 532
No

#Day 67

**Add two number without using Add operator**



```
Input : 10 20

Output : 30

Binary value of 10 : 0101

Binary value of 20 : 10100

                     11110
```

In [ ]:
a=10
b=20


print(a|b)
print(int("11110",2))

30
30

#Day 68

**Smallest of three integers without comparison operators**

Write a program to find the smallest of three integers, without using any of the comparison operators.



```
Input : 10 20 30

Output : 10
```

In [ ]:
a=17372
b=235235
c=32335


# if (a<b and a<c):
#   print(a)
# elif (b<a and b<c):
#   print(b)
# else:
#   print(c)
count=0
while(a and b and c):
  a-=1
  b-=1
  c-=1
  count+=1
print(count)

17372

#Day 69

**Check if binary representations of two numbers are anagram**




```
Input : a = 8, b = 4 
Output : Yes
```

In [ ]:
from collections import Counter

a=8
b=4

abin=bin(a)[2:]
bbin=bin(b)[2:]

diff=abs(len(abin)-len(bbin))
if(len(abin)<len(bbin)):
  abin=diff*'0'+abin
else:
  bbin=diff*'0'+bbin
num1=Counter(abin)
num2=Counter(bbin)


if(num1==num2):
  print("yes")
else:
  print("NO")

yes

#Day 70

**Remove duplicate values in dictionary**

we need to perform the removal of all the duplicate values of dictionary, and we are not concerned if any key get removed in the process



```
Input : {"tech":20,"is":20,"siddhar":10,"Youtube":12,"channel":15}

Output : {"tech":20,"siddhar":10,"Youtube":12,"channel":15}
```

In [ ]:
d= {"tech":20,"is":20,"siddhar":10,"Youtube":12,"channel":15}

temp=[]
ans={}
for key in d:
  if d[key] not in temp:
    temp.append(d[key])
    ans[key]=d[key]

print(ans)

{'tech': 20, 'siddhar': 10, 'Youtube': 12, 'channel': 15}

#Day 71

**Check if two strings are Rotationally Equivalent**

check if one string can be derived from other upon left or right rotation



```
Input : str1 = ‘siddhar’, str2 = ‘ddharsi’
Output : Yes


```

In [ ]:
str1="siddhar"
str2="ddharsi"
l=[]
for i in range(len(str1)):
  l.append(str1[i:]+str1[:i])
  # if str1[i:]+str1[:i]==str2:
  #   print("Yes")

if str2 in l:
  print("yes")
else:
  print("No")

yes

#Day 72

**Find Words with both alphabets and numbers**

we can have problem in which we need to extract certain words with contain both numbers and alphabets



```
Input : Tech12 Sid11dhar i3s Bes1t progr88amming YouTub5e chan6nel i3n tamilnadu or w3orld

Output : Tech12 Sid11dhar i3s Bes1t progr88amming YouTub5e chan6nel i3n w3orld

```

In [ ]:
s="Tech12 Sid11dhar i3s Bes1t progr88amming YouTub5e chan6nel i3n tamilnadu or w3orld"

l=list(s.split(" "))
temp=""
for i in l:
  if any(c.isalpha() for c in i) and any(c.isdigit() for c in i):
    temp+=i
    temp+=" "
print(temp)

Tech12 Sid11dhar i3s Bes1t progr88amming YouTub5e chan6nel i3n w3orld

#Day 73

**Subtract two list elements if element in first list is greater**

Given two list, If element in first list in greater than element in second list, then subtract it, else return the element of first list only.




```
Input:
l1 = [10, 20, 30, 40, 50, 60]
l2 = [60, 50, 40, 30, 20, 10]

Output:
[10, 20, 30, 10, 30, 50]
```

In [ ]:
l1 = [10, 20, 30, 40, 50, 60]
l2 = [60, 50, 40, 30, 20, 10]



for i in range(len(l1)):
  if(l1[i]>l2[i]):
    l1[i]-=l2[i]
print(l1)

[10, 20, 30, 10, 30, 50]

#Day 74

check if the given string is IPv4 or IPv6 or Invalid




```
Input : “192.168.0.1”
Output : IPv4
Explanation : It is a valid IPv4 address

Input : “2001:0db8:85a3:0000:0000:8a2e:0370:7334”
Output : IPv6
Explanation : It is a valid IPv6 address

Input : “255.32.555.5”
Output : Invalid
Explanation : It is an invalid IPv4 address as the 3rd octet value(i.e 555) is greater 255.
```

In [ ]:
from ipaddress import ip_address,IPv4Address

ip=input()
print(type(ip_address(ip)))
try:
  if(type(ip_address(ip)) is IPv4Address):
    print("IPv4")
  else:
    print("IPv6")
except:
  print("Invalid")

#Day 75

**find the Strongest Neighbour**

Given an array arr[] of N positive integers. The task is to find the maximum for every adjacent pair in the array.



```
Input: 1 2 2 3 4 5
Output: 2 2 3 4 5

Input: 5 5
Output: 5
```

In [ ]:
l=list(map(int,input().split(" ")))
l.sort()
res=[]
for i in range(len(l)-1):
  res.append(max(l[i],l[i+1]))

print(res)

1 2 2 3 4 5
[2, 2, 3, 4, 5]

#Day 76

**Intersection of two String**

One of the string operations can be computing the intersection of two strings i.e, output the common values that appear in both the strings



```
Input  : str1="Techsiddhar"
         str2="YouTube Channel"

Output : Teha
```

In [ ]:
str1="Techsiddhar"
str2="YouTube Channel"

ans=""
for i in str1:
  if i in str2 and i not in ans:
    ans+=i
print(ans)

Teha

#Day 77

**Selective Key Values Summation**

we can have a problem in which we desire to get summation of certain keys’ values in dictionary



```
Input : test_dict = {'tech' : 50, 'siddhar' : 50, 'youtube' : 7}
        
        key_list =['tech', 'siddhar']

Output : 100

```

In [ ]:
test_dict = {'tech' : 50, 'siddhar' : 50, 'youtube' : 7}
 
key_list =['tech', 'siddhar']
ans=0
for key in key_list:
  if key in test_dict:
    ans+=test_dict[key]
print(ans)

100

#Day 78

**Filter Range Length Tuples**

we might desire to filter records in such a way in which we need to discard records that do not contains exact number of elements required to constitute a record and lie in a range



```
Input  : (4, ), (2, 87), (10, 16, 19), (1,2,2,6,3,3)(1,5, 6, 8, 2), (1, 0)
         start=2
         end=3
      
Output : (2, 87), (10, 16, 19), (1, 0)
```

In [ ]:
l=[(4, ), (2, 87), (10, 16, 19), (1,2,2,6,3,3),(1,5, 6, 8, 2), (1, 0)]
start=2
end=3

# for i in l:
#   if len(i)>=start and len(i)<=end:
#     print(i)


#lambada,filter

res=list(filter(lambda element : len(element)>=start and len(element)<=end,l))
print(res)

[(2, 87), (10, 16, 19), (1, 0)]

#Day 79

**XOR operation**


we can have a problem in which we may need to perform mathematical bitwise XOR operation



```
Input  : (10, 4, 6, 9)
         (5, 2, 3, 3)

Output : (15, 6, 5, 10)
```




![alt text](https://www.codespeedy.com/wp-content/uploads/2019/08/Screenshot-from-2019-08-04-12-01-49.png)

In [ ]:
a=(10, 4, 6, 9)
b=(5, 2, 3, 3)

for i in range(len(a)):
  print(a[i]^b[i])

15
6
5
10

#Day 80

**Assign Reversed Values in Dictionary**

Given a dictionary, assign each key, values after reverting the values of dictionary




```
Input : {1 : 4, 2 : 5, 3 : 6}

Output : {1 : 6, 2 : 5, 3 : 4}
```

In [ ]:
d={1 : 4, 2 : 5, 3 : 6}

rev=list(d.values())
rev=rev[::-1]
index=0
for key in d:
  d[key]=rev[index]
  index+=1
print(d)

{1: 6, 2: 5, 3: 4}

#Day 81

**Get next key in Dictionary**

we can have problem in which we need to extract the next key in order of dictionary



```
Input  : {'techsiddhar': 1, 'youtube': 2, 'channel':3 }
          key ="youtube"

Output : channel
```

In [ ]:
d={'techsiddhar': 1, 'youtube': 2, 'channel':3 }
key ="techsiddhar"

ld=list(d)
try :
  if key in d:
    print(ld[ld.index(key)+1])
  else:
    print("Not Found")
except:
  print("Error")

youtube

#Day 82

**Remove digits from Dictionary String Values List**


Given list of dictionaries with string list values, remove all the numerics from all strings



```
Input : {‘tech’ : [“te3ch is prefix”, “siddhar i7s suffix”], ‘youtube’ : [“you7tube ch99annel ”, “Tamil la0nguage”]}


Output : {‘tech’ : [“tech is prefix”, “siddhar is suffix”], ‘youtube’ : [“youtube channel ”, “Tamil language”]}
```

In [ ]:
import re
d={"tech" : ["te3ch is prefix", "siddhar i7s suffix"], "youtube" : ["you7tube ch99annel ", "Tamil la0nguage"]}

res={key:[re.sub("\d",'',item) for item in value]for key,value in d.items()}

print(res)

{'tech': ['tech is prefix', 'siddhar is suffix'], 'youtube': ['youtube channel ', 'Tamil language']}

#Day 83

**We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?**

In [ ]:
h=35
l=94


for i in range(1,h+1):
  j=h-i
  if (i*2 + j*4 == l):
    
    print(i,j)

23 12
46 48

#Day 84

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [ ]:
class Person():
  def getGender(self):
    return "Unkown"

class Male(Person):
  def getGender(self):
    return "Male"

class Female(Person):
  def getGender(self):
    return "Female"

male=Male()
female=Female()
print(male.getGender())
print(female.getGender())

Male
Female

#Day 85

Please write Program without using if/else statements to verify that every number in the list [2,4,6,8] is even

In [ ]:
l=[2,4,6,8]
try:
  for i in l:
    assert i%2==0

  print("Even")
except:
  print("Odd")

Even

#Day 86

**Zipping two unequal length list in dictionary**

Given two lists of possibly unequal lengths, the task is to zip two lists in dictionary such that the list with shorter length will repeat itself.



```
Input : ['a', 'b', 'c', 'd', 'e'] 

        [1, 2, 3] 


Output : {'a': 1, 'b': 2, 'c': 3, 'd': 1, 'e': 2}
```

In [ ]:
from itertools import cycle

l1=['a', 'b', 'c', 'd', 'e'] 
 
l2=[1, 2, 3] 

res=dict(zip(l1,cycle(l2)))

print(res)

{'a': 1, 'b': 2, 'c': 3, 'd': 1, 'e': 2}

#Day 87

**Intersect two dictionaries through keys**

Given two dictionaries, the task is to find the intersection of these two dictionaries through keys


```
Input  : {‘vashu’: 5, ‘manjeet’: 10, ‘nikhil’: 1, ‘akshat’: 15}

         {‘nikhil’: 1, ‘me’: 56, ‘akshat’: 15}

Output : {‘nikhil’: 1, ‘akshat’: 15}
```

In [ ]:
d1={'vashu': 5, 'manjeet': 10, 'nikhil': 1, 'akshat': 15}
 
d2={'nikhil': 1, 'me': 56, 'akshat': 15}

res={}

# for key in d1:
#   if key in d2:
#     res[key]=d1[key]
# print(res)


print(dict(d1.items()& d2.items()))

{'akshat': 15, 'nikhil': 1}

#Day 88

**Please write a program to print the running time of execution of "Tech Siddhar" for 100 times**

In [ ]:
from timeit import Timer

t=Timer("for i in range(100): 'Tech Siddhar'")

print(t.timeit())

1.3834251600001153

#Day 89

**Given an array arr[] of N non-negative integers representing height of blocks at index i as Ai where the width of each block is 1. Compute how much water can be trapped in between blocks after raining. Structure is like below:**



```
| |
|_|
```




**We can trap 2 units of water in the middle gap**


**The first line of input contains an integer T denoting the number of test cases. The description of T test cases follows. Each test case contains an integer N denoting the size of the array, followed by N space separated numbers to be stored in array.**

![watertrap.png]()

```
Input:
2
4
7 4 0 9
3
6 9 9

Output:
10
0
```

In [ ]:
t=int(input("Enter your testcase : "))

for i in range(t):
  n=input()
  l=list(map(int,input().split(" ")))
  l.sort()
  ls=sorted(list(set(l)))
  ma=ls[-2]
  res=0
  for i in l:
    if i <ma:
      res+=ma-i
  print(res)

Enter your testcase : 1
4
7 4 0 9
10

#Day 90

**Given an array of positive integers. Your task is to find the leaders in the array.**

**Note: An element of array is leader if it is greater than or equal to all the elements to its right side. Also, the rightmost element is always a leader.**

**The first line of input contains an integer T denoting the number of test cases. The description of T test cases follows.The first line of each test case contains a single integer N denoting the size of array.The second line contains N space-separated integers A1, A2, ..., AN denoting the elements of the array.**



```
Input:
3
6
16 17 4 3 5 2
5
1 2 3 4 0
5
7 4 5 7 3
Output:
17 5 2
4 0
7 7 3
```

In [ ]:
t=int(input())
for i in range(t):
  n=input()
  l=list(map(int,input().split(" ")))
  res=[]
  for i in range(len(l)-1):
    if l[i]>=max(l[i+1:]):
      res.append(l[i])
  res.append(l[-1])
  print(res)

1
3
16 17 4 3 5 2
[17, 5, 2]

#Day 91

**Last index of One**

**Given a string S consisting only '0's and '1's,  print the last index of the '1' present in it.**

**First line of the input contains the number of test cases T, T lines follow each containing a stream of characters.**


```
Input:
2
00001
0
Output:
4
-1
```

In [ ]:
t=int(input())

for i in range(t):
    n=input()
    if '0' in n:
        flag=-1
        for i in range(1,len(n)+1):
            
            if n[-i]=="1":
              
                if i==len(n):
                    
                    flag=0
                else:
                    flag=len(n)-i
                break
        
        print(flag)
    else:
        print(len(n)-1)

#Day 92

**Given an array arr[] and a number K where K is smaller than size of array, the task is to find the Kth smallest element in the given array. It is given that all array elements are distinct.**

**The first line of input contains an integer T, denoting the number of testcases. Then T test cases follow. Each test case consists of three lines. First line of each testcase contains an integer N denoting size of the array. Second line contains N space separated integer denoting elements of the array. Third line of the test case contains an integer K.**




```
Input:
2
6
7 10 4 3 20 15
3
5
7 10 4 20 15
4
Output:
7
15
```

In [ ]:
t=int(input())

for i in range(t):
  n=input()
  l=list(map(int,input().split(" ")))

  l=sorted(l)
  k=int(input())
  print(l[k-1])

2
6
7 10 4 3 20 15
3
7
5
7 10 4 20 15
4
15

#Day 93

**Comparing arrays**


**This problem helps one to understand the key concepts of an array(list) in Python. Two arrays are said to be the same if they contain the same elements and in the same order. However, in this problem, we will compare two arrays to see if they are same, but with a slight twist. Here, two arrays are the same if the elements of one array are squares of elements of other arrays and regardless of the order. Consider two arrays a and b.**



```
Input  : a = [121, 144, 19, 161, 19, 144, 19, 11]
         b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

Output : True
```

In [ ]:
a = [121, 144, 19, 161, 19, 144, 19, 11]
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

a.sort()
b.sort()
flag=True
for i in range(len(a)):
  if((a[i]**2)==b[i]):
    pass
  else:
    flag=False
    break
if(flag):
  print(flag)
else:
  print(flag)
print(a)
print(b)

True
[11, 19, 19, 19, 121, 144, 144, 161]
[121, 361, 361, 361, 14641, 20736, 20736, 25921]

#Day 94

**Givens Two number N and K, our task is to subtract a number K from N until number(N) is greater than zero, once the N becomes negative or zero then we start adding K until that number become the original number(N).
Note : Not allow to use any loop.**



```
Input : N=15,k=5


Output : 15 10 5 0 5 10 15 
```

In [ ]:
n=20
k=3

def ans(n,k,end,flag):
  print(n,end=" ")

  if n<=0:
    flag=False
  if flag==False and n==end:
    return 

  if flag:
    ans(n-k,k,end,flag)
  
  if not flag:
    ans(n+k,k,end,flag)


ans(n,k,n,True)

20 17 14 11 8 5 2 -1 2 5 8 11 14 17 20

#Day 95

**Check if a triangle of positive area is possible with the given angles**


**Given three angles. The task is to check if it is possible to have a triangle of positive area with these angles. If it is possible print “YES” else print “NO”.**




```
Input : ang1 = 50, ang2 = 60, ang3 = 70 
Output : YES

Input : ang1 = 50, ang2 = 65, ang3 = 80
Output : NO
```

In [ ]:
ang1 = 50
ang2 = 65
ang3 = 80

if (ang1!=0 and ang2!=0 and ang3!=0 and ang1+ang2+ang3==180):
  if (ang1+ang2)>=ang3 and (ang2+ang3)>=ang1 and (ang3+ang1)>=ang2:
    print("YES")


else:
  print("NO")

NO

#Day 96

**Find minimum sum of factors of number**



```
Input : 12
Output : 7
sum of factors in different ways.
12 = 12 * 1 = 12 + 1 = 13
12 = 2 * 6 = 2 + 6 = 8
12 = 3 * 4 = 3 + 4 = 7
12 = 2 * 2 * 3 = 2 + 2 + 3 = 7
Therefore minimum sum is 7

Input : 105
Output : 15
```

In [ ]:
n=105

def minsumfactor(n):
  s=0

  i=2
  while(i*i<=n):
    while(n%i==0):
      s+=i
      n//=i
    i+=1
  s+=n
  return s
print(minsumfactor(n))

15

#Day 97

**Find largest prime factor of a number**



```
Input: 6
Output: 3
Explanation
Prime factor of 6 are- 2, 3
Largest of them is 3

Input: 15
Output: 5


Input : 25698751364526
```

In [ ]:
from math import sqrt
n=25698751364526

maxvalue=-1

for i in range(2,int(sqrt(n)+1)):
  while(n%i==0):
    maxvalue=i
    n/=i
print(maxvalue)

328513

#Day 98

**check if the list contains three consecutive common numbers in Python**



```
Input : 4, 5, 5, 5, 3, 8

Output: 5

Input : 1, 1, 1, 64, 23, 64, 22, 22, 22

Output : 1, 22
```

In [ ]:
l=[1, 1, 1, 64, 23, 64, 22, 22, 22]
for i in range(0,len(l)-2):
  if(l[i]==l[i+1] and l[i+1]==l[i+2]):
    print(l[i])

1
22

#Day 99

**Substitute character with its occurrence**



```
Input : Tech siddhar is Tamil programming YouTube channel

        T

Output : 1ech siddhar is 2amil programming You3ube channel
```

In [ ]:
s="Tech siddhar is Tamil programming YouTube channel"
res=""
t="T"
count=0
for i in s:
  if i==t:
    count+=1
    res+=str(count)
  else:
    res+=i
print(res)

1ech siddhar is 2amil programming You3ube channel

#Day 100

**Create an OTP by squaring and concatenating the odd digits of a number**



```
Input: 4365188
Output: 9256

Input: 123456
Output: 4163
```

In [ ]:
n="123456"
res=""
for i in range(len(n)):
  if(i%2!=0):
    s=int(n[i])*int(n[i])
    res+=str(s)
print(res[:4])

4163